{% for post in blog %}
    <div class="card container" style="color: #f0f0f0 !important;">
            <div class="card-body">
                    <h4 class="card-title">{{ post[0]["title"] }}</h4>
                    <h6 class="text-muted card-subtitle mb-2">Created: {{ post[0]["created"] }} <br>Updated: {{ post[0]["updated"] }}</h6>
                    <a class="border rounded button btn-info post-link" href="/{{ post[0]['title'] }}">See post</a>
            </div>
    </div>
{% endfor %}
<a class="blog-close" href="/" style="text-decoration: none; border: none;">Close</a>